<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>
            Pacienti - nga Krisi Anastas
        </title>
    </head>
    <body>
        <div class="container">
            <h1 class="display-1">Manuali i Përdoruesit</h1>
        </div>
        <div class="container">
            <h2 class="display-1">Krijo Rekord</h2><br>
            <p>Plotëso fushat e programit dhe shtyp butonin "Krijo Rekord" për të krijuar një rekord të ri në databazë.</p><br>
            <h2 class="display-1">Kërko Rekord</h2><br>
            <p>Pasi vendosni emrin e pacientit në fushën "Emri", shtypni butonin "Kërko rekord" dhe nëse ky pacient është regjistruar më parë, do t'ju paraqiten të dhënat e tij.</p><br>
            <h2 class="display-1">Përditëso Rekord</h2><br>
            <p>Pasi të keni kërkuar një rekord ekzistues, modifikoni fushat që dëshironi të ndryshoni dhe shtypni butonin "Përditëso Rekord" për të ruajtur ndryshimet.</p><br>
            <h2 class="display-1">Fshi Rekord</h2><br>
            <p>Pasi të keni kërkuar një rekord ekzistues, shtypni butonin "Fshi Rekord" për të fshirë rekording nga databaza.</p><br>
        </div>
    </body>
</html>